* {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: large;
    

    /* rgb(188, 146, 255) */
    /* #cfb87c */
    border-color: #cfb87c;
}

html, body{
    height: 100%;
    background-color: #212121;
    
    margin: 0;
    padding: 0;
}


.hidden {
    display: none;
}

/* Error Styles */
.error-text {
    padding: 0;
    margin: 0;
    font-weight: bold;
    color: red;
}

.red-border {
    border-color: red;
}

/* ##### NAVIGATION BAR ##### */

.nav-bar {
    position: sticky;
    top: 0;

    display: flex;
    background-color: #454849;

    justify-content: space-between;
}

.nav-name {
    margin: 0;
    padding: 0;

    align-self: center;
    margin-left: 1%;

    color: #cfb87c;
    font-weight: bolder;
    font-size: 30px;
    text-shadow: 1px 1px 4px black;
}

.nav-buttons {
    display: flex;
}

.nav-button {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;

    border-style: outset;
    background-color: black;
    border-width: 4px;

    padding-left: 10px;
    padding-right: 10px; 
}

.nav-button:active {
    border-style: inset;
}

.nav-button:hover{
    border-color: #83744e;
}


.notification-tooltip {
    align-self: flex-start;
    margin-top: 5px;
    margin-left: -340px;

    width: 600px;
    height: 300px;
    position: absolute;
    display: none;
}

.notification-button:hover .notification-tooltip {
    display: block;
}

