.notification-page {
    height: 95vh;

    display: flex;
    flex-direction: row;
    
}

.notification-tabs {
    width: 25%;

    background-color: #565a5c;
}

.notification-details {
    display: flex;
    flex-direction: column;
    width: 75%;
}

.notification-title {
    font-size: xx-large;
    font-weight: bold;

    margin: 5px;

}

.bar {
    height: 1px;
    background-color: #565a5c;
}


.notification-list {
    margin: 0;
    padding: 0;

    overflow-y: scroll;

    list-style: none;
}

/* TODO: This doesn't align propery*/
.categories {
    margin: 0;
    padding: 0;
    display: flex;
}

.notification-text {
    padding: 10px;
    margin: 0;
    flex: 3;
    text-align: left;
}

.date-text {
    padding: 10px;
    margin: 0;

    flex: 1;
    text-align: left;
}