/* Page layout */
.notification-page {
    height: 95vh;

    display: flex;
    flex-direction: row;
    
}

.notification-tabs {
    display: flex;
    flex-direction: column;

    width: 25%;
    background-color: #565a5c;
}

.notification-details {
    display: flex;
    flex-direction: column;
    width: 75%;
}

.notification-title {
    font-size: xx-large;
    font-weight: bold;

    margin: 5px;

}

.bar {
    height: 1px;
    background-color: #565a5c;
}


/* Notification List */
.notification-list {
    max-width: 100%;
    margin: 0;
    padding: 0;

    overflow-y: scroll;
    scrollbar-width: none;

    list-style: none;
    word-wrap: break-word;
}

.categories {
    margin: 0;
    padding: 0;
    display: flex;

    padding-right: 10px;
}

.notification-text {
    box-sizing: border-box;
    width: 75%;

    padding: 10px;
    margin: 0;
    text-align: left;
    
    white-space: pre-wrap;
}

.date-text {
    box-sizing: border-box;
    padding: 10px;
    margin: 0;

    width: 25%;
    text-align: left;
}

/* Modification buttons */

.modify-button {
    border: none;
    background: none;

    color: #cfb87c;
    text-decoration: underline;
    font-weight: bold;
}

.modify-button:hover {
    cursor: grab;
}

.modify-button:active {
    opacity: 0.6;
}

/* User interaction elements */
.create-box {
    width: 75%;
    background-color: #212121;
}

.input-box {
    display: flex;
}

.button {
    background-color: black;
    border-width: 4px;

    font-size: larger;
    font-weight: bold;
    text-align: center;
}

.text-input, .date-input {
    justify-self: center;
    text-align: left;

    color-scheme: dark;
    background-color: black;
    border-color: #454849;
    width: 100%;
    margin-bottom: 10px;
}

.text-input {
    display: block;
    max-width: 100%;
    min-height: 20px;
    width: 100%; 
    height: 30vh;
}

.date-input {
    width: 150px;

    margin-right: 20px;
}

.notification-detail-box {
    justify-self: center;
    width: 50%;
}
