.login-box {
    display: flex;
    flex-direction: column;

    align-items: center;
    align-self: center;
    
    margin: auto;
    margin-top: 5%;
    width: fit-content;
}

.input {
    background-color: black;
    border-color: #454849;
    width: 100%;
    margin-bottom: 10px;
}

.login-button {
    margin-top: 10px;
    margin-bottom: 20px;

    background-color: black;
    border-color: #cfb87c;
    width: 100%;
}

.file-input {
    padding: 20px;
    border-style: dashed;
    border-color: #cfb87c;
    background-color: black;
}

.red-border {
    border-color: red;
}